streamlit
python-dotenv
pysqlite3-binary
langchain-huggingface
langchain-chroma
langchain-google-genai
langchain-core
langchain-community
sentence-transformers
huggingface-hub
chromadb
pypdf
docx2txt
torch
torchvision
