streamlit
python-dotenv
pysqlite3-binary; sys_platform == 'linux'
langchain-huggingface
langchain-chroma
langchain-google-genai
langchain-core
langchain-community
chromadb==0.5.5
pypdf
docx2txt
