streamlit
python-dotenv
pysqlite3-binary
langchain-huggingface
langchain-chroma
langchain-google-genai
langchain-core
langchain-community
sentence-transformers
huggingface-hub
chromadb==0.5.23
pypdf
docx2txt
